CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-wr840n-v6.2=y

CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-app-cybermiku=y
CONFIG_PACKAGE_luci-theme-cybermiku=y

CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_ttyd=y

CONFIG_PACKAGE_zram-swap=y
